<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--legacy links-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <link rel="icon" href="img/House.ico" />
    <title>Admin</title>

</head>

<style>
/*Legacy CSS*/

/*Property Table*/

table.table tr th, table.table tr td {
  border-color: rgb(250, 250, 250);
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
}
table.table th:last-child {
  width: 125px;
}
table.table td button {
  margin: 0;
  min-width: 24px;
  border: none;
  background: transparent;
}    
table.table td button.add {
  color: #27C46B;
}
table.table td button.edit {
  color: #FFC107;
}
table.table td button.delete {
  color: #E34724;
}
table.table td i {
    font-size: 22px;
}
table.table td button.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}    
table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}
table.table .form-control.error {
border-color: #f50000;
font-size: 20px;
}
table.table td .add {
display: none;
}

.img-profile-icon {
    height: 35px;
    width: 35px;
}

.person_add {
    position: relative;
}

.person_add {
    position: relative;
    }

.person_add div {
    /*visiblity: hidden; */

    /*display: none;*/
    position: absolute;
    top: 0;
    left:100%;
    margin-top: -30px; /* approx adjustment for arrow */
    margin-left: 25px; /* approx adjustment for arrow */
    cursor: pointer;
    width: 100px;
    line-height: 20px;
    padding: 8px;
    font-size: 14px;
    text-align: left;
    z-index: 999;
    color: black;
    border-color: aqua;
    /*
    background: white;
    -webkit-transition: opacity 100ms ease-in;
    -o-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;*/
}

</style>

<script>

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        var actions = `<td>
            <button class="add" type="submit" formaction="/dashboard/add" title="Done" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></button>
            <button class="edit" type="button" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></button>
            <button class="delete" type="button" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></button>
            <a class="person_add" title="Allow Access" data-toggle="tooltip">\
                <i class="material-icons">&#xe7fe;\
                    <div id="dia_shr" style="display:none;">\
                    <p>GRANT ACCESS</p><input placeholder="username" type="text" id="typeEmailX" />\
                    <label class="form-label" for="typeEmailX"></label><button" style="background-color: aqua;" type="submit">SUBMIT</button></div>\
                </i>
            </a>
        </td>`
        var hid_inv = true;
        // Append table with add row form on add new button click
        $(".add-new").click(function(){
            $(this).attr("disabled", "disabled");
            var index = $("table tbody tr:last-child").index();
            var row = '<tr>' +
                '<td><input type="date" class="form-control" name="dateOfPurchase" id="dateOfPurchase"></td>' +
                '<td><input type="text" class="form-control" name="price" placeholder="$0" id="price"></td>' +
                '<td><input type="text" class="form-control" name="address" placeholder="address" id="Address"></td>' +
                '<td><input type="text" class="form-control" name="zipCode" placeholder="00000" id="zipCode"></td>' +
                actions +
            '</tr>';
            $("table").append(row);		
            $("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
            $('[data-toggle="tooltip"]').tooltip();
        });
        // Add row on add button click
        $(".add").on("click", function(){
            var empty = false;
            var input = $(this).parents("tr").find('input[type="text"]');
            var inputDate = $(this).parents("tr").find('input[type="date"]');
            input.each(function(){
                if(!$(this).val()){
                    $(this).addClass("error");
                    empty = true;
                    $(this).addAttr("disabled");
                } else{
                    $(this).removeClass("error");
                }
            });
            inputDate.each(function(){
                if(!$(this).val()){
                    $(this).addClass("error");
                    empty = true;
                } else{
                    $(this).removeClass("error");
                }

                if(!$(this).hasAttribute('disabled')) {
                    $(this).addAttr('disabled');
                }
            });
            $(this).parents("tr").find(".error").first().focus();
                /*input.each(function(){
                    $(this).parent("td").html($(this).val());
                });	
                inputDate.each(function(){
                    $(this).parent("td").html($(this).val());
                });*/	
                $(this).parents("tr").find(".add, .edit").toggle();
                $(".add-new").removeAttr("disabled");	
        });
        // Edit row on edit button click
        $(".edit").on("click", function(){		
            $(this).parents("tr").find("input:first-child").each(function(){
                $(this).html('<input type="date" class="form-control" value="' + $(this).text() + '">').removeAttr("disabled");
            });	
            
            $(this).parents("tr").find("input:not(:first-child):not(:last-child)").each(function(){
                $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">').removeAttr("disabled");
            });		
            $(this).parents("tr").find(".add, .edit").toggle();
            $(".add-new").attr("disabled", "disabled");
        });
        // Delete row on delete button click
        /*$(".delete").on("click", function(){
            if (confirm("Are you sure to execute this action?")){
                $(this).tooltip('hide');
                $(this).parents("tr").remove();
                $(".add-new").removeAttr("disabled");
                $(this).parents("tr").find(".add, .delete").toggle();
                $(this).parent('form').trigger('submit');
            } 
        });*/

        // Print Table
        $(document).on('click', '.print', function(){
            var table = document.getElementById("dataTable");
            var htmlToPrint = '' +
                '<style type="text/css">' +
                'table th, table td {' +
                'border:1px solid #000;' +
                'padding:0.5em;' +
                '}' +
                '</style>';
            newWin = window.open('placeholder');
            newWin.document.write(table.outerHTML);
            newWin.document.write('<html><head><title>Admin Table</title>...');
            newWin.document.write('<style type="text/css">\
                @media print {\
                    #dataTable {\
                        font-size: 18px;\
                    } \
                    .table th{\
                        border:1px solid #000;\
                        padding:0.5em;\
                        text-align: center;\
                    }\
                    .table td {\
                        border:1px solid #000;\
                        padding:0.5em;\
                        text-align: right;\
                    }\
                    .noprint {\
                        display:none;\
                    }\
                }</style>');
            newWin.print();
            newWin.close();
        })

        // search bar
        $(document).ready(function(){
            $("#search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".properties").filter(function() {
                    var x = $(this)[0].children[4].children.address.value;
                    $(this).toggle(x.toLowerCase().indexOf(value) > -1);
                });
            });
        });
        
        $(document).ready(function(){
            $("#searchuser").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".properties").filter(function() {
                    var y = $(this)[0].children[1].children.username.value;
                    $(this).toggle(y.toLowerCase().indexOf(value) > -1);
                });
            });
        });

        searchInput.addEventListener('keyup', () =>{
            clearTimeout(typingTimer);
            typingTimer = setTimeout(liveSearch, typeInterval);
        });

        $(document).on("click", ".person_add", function(){
            if (hid_inv){
                console.log(true);
                hid_inv= false;
                document.getElementById("dia_shr").style.display = "block";
            }else{
                console.log(false)
                hid_inv=true;
                document.getElementById("dia_shr").style.display = "hidden";
            }
        });
    });
</script>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="background: linear-gradient(to left,rgb(82, 142, 244),  rgb(148, 103, 201))" >

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Dashboard</span></a>
            </li>

            
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <% if (user.type == "Admin") { %>
            <!-- Nav Item - Admin -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Admin</span></a>
            </li>
            <% } %>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" id="searchuser" class="form-control bg-light border-0 small" placeholder="Search for user..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <input type="text" id="search" class="form-control bg-light border-0 small" placeholder="Search for address..."
                                aria-label="Search" aria-describedby="basic-addon2">
                        </div>
                    </form>

                    <!-- Generate Report -->
                    <div>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <span class="print" style="cursor:pointer;">Download / Print Properties</span></a>
                    </div>
                    
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">1</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>
            
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= firstName %> <%= lastName %></span>
                                <img class="img-profile rounded-circle mb-2" src="<%= user.profileImg %>" alt="Profile Picture">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/profile">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <!-- Settings 
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                -->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Content -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="row">
                                <div class="col-sm-8"><h2>Admin <b>Management</b> </h2></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form method="post">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <!-- Property Table -->
                                        <thead>
                                            <tr style="text-align: center">
                                                <th class="noprint"></th>
                                                <th>Username</th>
                                                <th>Date of Purchase</th>
                                                <th>Price</th>
                                                <th>Address</th>
                                                <th>Zip Code</th>
                                                <th class="noprint">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableData">
                                            <tr>
                                            </tr>
                                            <% users.forEach(user => { %>
                                                <% properties.forEach(property => { %>
                                                    <% if(user.id == property.ownerId) { %>
                                                        <tr class="properties">
                                                        <td class="noprint" style="text-align: center">
                                                            <img class="img-profile-icon rounded-circle mb-2" src="<%= user.profileImg %>" alt="<%= user.username %>">
                                                        </td>
                                                        <td><input type="text" class="form-control" name="username" id="username" disabled="" value=<%= user.username %>></td>
                                                        <td><input style="text-align: center" type="date" class="form-control" name="dateOfPurchase" id="dateOfPurchase" disabled="" value=<%= property.dateOfPurchase.toISOString().split('T')[0] %>></td>
                                                        <td><input type="text" class="form-control" name="price" id="price" disabled="" value=<%= property.price %>></td>
                                                        <td><input type="text" class="form-control" name="address" id="address" disabled="" value='<%= property.address %>''></td>
                                                        <td><input type="text" class="form-control" name="zipCode" id="zipCode" disabled="" value=<%= property.zipCode %>></td>
                                                        <td class="noprint">
                                                            <button type="submit" id="edit" class="add" formaction="/admin/<%= property._id %>?_method=PUT" title="Done" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></button>
                                                            <button type="button" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></button>
                                                            <button type="submit" class="delete" formaction="/admin/<%= property._id %>?_method=DELETE" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></button>
                                                        </tr>
                                                    <% } %>
                                                <% }) %>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </form>
                                    <% if(locals.error) { %>
                                        <div class="text-center"><%= error %></div>
                                    <% } %>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>CEN4010 - Group 14</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/signout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

</body>

</html>